## Spam Email Detection

### Initialisation

#### Import Libraries

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import nltk
import wordcloud

#### Import Dataset

In [48]:
df = pd.read_csv('emails.csv')
df.columns = ['Content','Label']
df['Label'].replace(to_replace=[1,0],value=['Spam','Not Spam'],inplace=True)
df.sample(5)

                                                Content     Label
2973  Subject: re : i am zhendong  zhendong ,  thank...  Not Spam
4844  Subject: re :  thank you ! ! !  vince j kamins...  Not Spam
5630  Subject: membership mixer tomorrow - paesanos ...  Not Spam
3767  Subject: re : nj alliance  michael lassle is i...  Not Spam
130   Subject: you best friends and family deserve t...      Spam

#### Shape

In [49]:
df.shape

(5728, 2)

### Cleaning

#### Missing Value Analysis

In [50]:
df.isnull().sum()

Content    0
Label      0
dtype: int64

#### Duplicate Removal

In [51]:
df.duplicated().sum()

33

In [52]:
df.drop_duplicates(inplace=True)
df.shape

(5695, 2)

#### Dataset Description

In [58]:
df.describe()

                                                  Content     Label
count                                                5695      5695
unique                                               5695         2
top     Subject: naturally irresistible your corporate...  Not Spam
freq                                                    1      4327

#### Shape